.presentation {
    color: rgb(223, 151, 17);
    padding: 20px;
    padding-bottom: 30px;
  }

.text {
    padding-bottom: 40px;
  }
  
.slide {
    padding-top: 30px;
    object-fit: cover;
    width: 100%;
    height: 700px;
  }


.titre {
    color: rgb(223, 151, 17);
    font-size: 55px;
    font-family: 'Lobster', cursive;
    padding-left: 20px;
  }
  
.chef {
    width: 300px;
    padding-right: 20px;
    margin: 60px;
    
  }

.presChef {
    background-color: rgb(54, 53, 53);
    display: flex;
    align-items: center;
    padding-right: 30px;
    margin-top: 50px;
  }

h4 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
    color: rgb(223, 151, 17);
   
  }

.presResto {
  background-color: rgb(24, 24, 24);
  padding : 60px
}
