.presentation {
    color: rgb(83, 136, 172);
    padding: 20px;
    padding-bottom: 30px;
  }

/* .text {
    padding-bottom: 40px;
  } */
  
.slide {
    padding-top: 30px;
    object-fit: cover;
    width: 100%;
    height: 700px;
  }

  
.chef {
    width: 300px;
    padding-right: 20px;
    margin: 60px;
    background-color: rgb(54, 53, 53);
    
  }

.presChef {
    background-color: rgb(54, 53, 53);
    display: flex;
    align-items: center;
    padding-right: 30px;
    margin-top: 50px;
    
  }

  .textChef {
    background-color: rgb(54, 53, 53);
  }

h4 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-align: center;
    color: rgb(83, 136, 172);
    background-color: rgb(54, 53, 53);
   
  }

.presResto {
  background-color: rgb(24, 24, 24);
  padding : 60px
  
}

.textResto {
  background-color: rgb(24, 24, 24);
}
