
.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(36, 38, 39, 0.959); */
    border: solid 1px rgb(223, 151, 17);
  }
  
  
label {
    font-size: 20px;
    color: rgb(223, 151, 17);
    
  }

.btn {
    width: 150px;
    background-color: rgb(223, 151, 17);
    color: rgba(36, 38, 39, 0.959);
  }

.contact {
    color: rgb(223, 151, 17);
    padding-left: 30px;
  }  

input, textarea {
    margin: 10px;
    border-radius: 8px;
  }  

 h3 {
    font-style: italic;
  }
  