.titre {
  color: black;
  font-size: 55px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigation {
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  
}

header {
  display: flex;
  justify-content:space-between;
}

.navMenu {
  padding: 20px;
  text-decoration: none;
  font-size: 25px;
  border: solid 1px black;
  border-radius: 50px;
  color: black;
  
}

.navIcons {
  font-size: 50px;
  color: rgb(25, 25, 134);
  padding: 20px;
}

img {
  object-fit: cover;
  width: 100%;
  height: 600px;
  
}